@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root {
	--main-color: rgb(58, 57, 144);

}

body {
	font-family: 'Poppins', sans-serif;
}

nav {
transition: background-color 0.2s cubic-bezier(.93,.12,0,.66);
color: whitesmoke;
}

nav .navbar-brand {
	color: inherit;
}

.ele {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	background-color: #fff;
	color: black;
}

.navbar svg {
	margin-bottom: 2px;
	margin-right: 10px;
}

.navbar ul {
	display: flex;
	flex-grow: 1;
	justify-content: end;
	text-decoration: none
}

li {
	list-style: none;
}
.nav-link {
	color: var(--main-color);
}
.nav-link.active {
	color: rgb(5, 3, 148);
	border-bottom: 2px solid #367bb7;;
}
header {
	height: 100vh;
	min-height: 40rem;
	padding-top: 4.5rem;
	padding-bottom: 0;
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("https://startbootstrap.github.io/startbootstrap-creative/assets/img/bg-masthead.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover
}

section {
	padding: 8rem 0px;
}

.portfolio-box {
	position: relative;
	display: block;
}

.portfolio-box-caption {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	opacity: 0;
	color: #fff;
	background-color: #0d6dfdda;
	/*background: rgba(44, 30, 231, 0.9);*/
	transition: opacity 0.25s ease;
	text-align: center;
}

.portfolio-box-caption:hover {
	opacity: 1;
}

.btn-primary {
    color: #fff;
    background-color: var(--main-color);
    border-color: #0d6efd;
}